/* global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: rgba(91, 140, 90, 0.3);
  color: #384259;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "grid-container"
    "footer";
  grid-template-rows: 60px 1fr 30px;
  grid-template-columns: 100%;
}

/* header styling */
header {
  grid-area: header;
  background-color: rgba(91, 140, 90, 0.2);
  padding: 0.1em 0 1em 0;
  position: sticky;
  top: 0;
  box-shadow: 0 0 20px 0 rgba(91, 140, 90, 0.5);
}

nav a {
  color: #384259;
  font-family: "Pacifico", cursive;
  /* border: 0.1px solid rgba(91, 140, 90, 0.1); */
  padding: 1px 3px;
  margin-bottom: 100px;
}

nav a:hover {
  color: #393b44;
  background-color: rgba(91, 140, 90, 0.3);
  transition: background-color 1s ease-out;
  box-shadow: 0 0 20px 0 rgba(91, 140, 90, 0.8);
}

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* container styling */
.grid-container {
  grid-area: grid-container;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.grid-container h1 {
  text-align: center;
}

.grid-container .icon {
  text-align: center;
  font-size: 60px;
  color: #384259;
}

.grid-container .icon a {
  text-decoration: none;
  color: #384259;
}

/* form styling */
.form-container {
  box-shadow: 0 0 20px 0 rgba(57, 59, 68, 0.4);
  background-color: rgba(91, 140, 90, 0.2);
  padding: 1em;
}

.form-container > * {
  padding: 1em;
}

.form-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.form-container form label {
  display: block;
}

.form-container form p {
  margin: 0;
}

.form-container form .full {
  grid-column: 1 / 3;
}

.form-container form button,
.form-container form input,
.form-container form textarea {
  width: 100%;
  border: 1px solid rgba(91, 140, 90, 0.1);
}

.form-container form button {
  background:  rgba(91, 140, 90, 0.2);
  border: 0;
  padding: 5px;
  text-transform: uppercase;
}

.form-container form button:hover,
.form-container form button:focus {
  color: #393b44;
  background-color: rgba(91, 140, 90, 0.3);
  transition: background-color 1s ease-out;
  box-shadow: 0 0 20px 0 rgba(91, 140, 90, 0.8);
}

/* footer styling */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

footer p {
  padding-top: 10px;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color: #384259;
}

/* medium size screen */
@media (min-width: 750px) {
  .form-container {
    margin: 0 150px;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .form-container {
    margin: 0 300px;
  }
}
