/* global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: rgba(91, 140, 90, 0.3);
  color: #384259;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "grid-container"
    "footer";
  grid-template-rows: 60px 1fr 30px;
  /* grid-template-columns: 100%; */
}
/* header styling */
header {
  grid-area: header;
  background-color: rgba(91, 140, 90, 0.2);
  padding: 0.1em 0 1em 0;
  position: sticky;
  top: 0;
  box-shadow: 0 0 20px 0 rgba(91, 140, 90, 0.5);
}

nav a {
  color: #384259;
  font-family: "Pacifico", cursive;
  border: 0.1px solid rgba(91, 140, 90, 0.1);
  padding: 1px 3px;
  margin-bottom: 100px;
}

nav a:hover {
  color: #393b44;
  background-color: rgba(91, 140, 90, 0.3);
  transition: background-color 1s ease-out;
  box-shadow: 0 0 20px 0 rgba(91, 140, 90, 0.8);
}

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* container styling */
.grid-container {
  grid-area: grid-container;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

/* logo styling */
.profile {
  height: 70px;
}

/* main section styling */
main h1 {
  text-align: center;
}

main {
  grid-area: main;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main h1, h2, h3,
button {
  text-align: center;
  font-size: 50px;
  color: #384259;
  font-family: "Permanent Marker", cursive;
}
/* 
main h1 {
  font-size: 50px;
  color: #384259;
  font-family: "Permanent Marker", cursive;
} */

/* button {
  background-color: #8d93ab;
  border: 2px solid #384259;
  padding: 0.1em;
}

button a {
  text-decoration: none;
  color: #384259;
}

button:hover, button a:hover {
  background-color: #384259;
  color: #8d93ab;
  transition: background-color 2s ease-out;
} */

/* footer styling */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

footer p {
  padding-top: 10px;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color: #384259;
}
