/* global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.grid-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "logo logo logo"
    "main main main"
    "footer footer footer";
  grid-template-rows: 60px 1fr 7fr 30px;
}

/* header styling */
.grid-container header {
  grid-area: header;
  background-color: #7ac7c4;
}

nav a {
  color: #f73859;
  font-family: "Pacifico", cursive;
  border: 1px solid #f73859;
  padding: 1px 3px;
}

nav a:hover {
  color: #7ac7c4;
  background-color: #f73859;
}

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* logo styling */
.grid-container div {
  background-color: #c4edde;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  height: 70px;
}

/* main section styling */
.grid-container main {
  background-color: #c4edde;
  grid-area: main;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

main h3,
button {
  font-size: 28px;
  color: #384259;
  font-family: "Permanent Marker", cursive;
}

main h1 {
  font-size: 50px;
  color: #384259;
  font-family: "Permanent Marker", cursive;
}

button {
  background-color: #c4edde;
  border: 1px solid #c4edde;
}

button a {
  text-decoration: none;
  color: #384259;
}

/* footer styling */
.grid-container footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #7ac7c4;
}

footer p {
  padding-top: 10px;
  color: #384259;
}

footer a {
  text-decoration: none;
}
